@{ 
    Layout = null;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Betslip</h3>
    </div>
    <div class="panel-body">
        <p><strong>@ViewBag.Message</strong></p>

        <input id="close" class="btn btn-primary" value="Ok" type="button" />
    </div>
</div>



<script>
$('#close').click(function () {
        $('#bet-slip').empty();
    });
</script>